h1 {
    color:#7d211a;
    font-size: 1.5em;
    font-weight: 500;
}

.cntwrap {
    width: 90%;
}

.container {
    max-width: 90%;
}

.content-static img {
    margin-left:1em!important;
    margin-right:1em;
}

.content-static img:after {
    margin-left:1em!important;
    margin-right:1em;
}

img {
    margin-left:50px;
}

ngb-pagination ::ng-deep a {
    color: black !important;
  }
  
  ngb-pagination ::ng-deep .page-item.active .page-link {
    color:white!important;  
    border-color: #7d211a;
    background-color: #f49600;
  }
  
  ngb-pagination ::ng-deep .page-item .page-link:hover {
    background-color: #7d211a;
    color:white!important;
  }


  ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem #7d211a;
  }
  
  ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem #7d211a;
  }