<div class="container cntwrap">
    <ng-container>
        <div id="encabezado">
            <h1>{{sectionName}}</h1>
            <ng-container *ngFor="let y of [0,1,2]">
                <span (click)="selectYear(currentYear-y)">
                    <span [ngStyle]="{'font-weight': (selectedYear == currentYear-y) ? 'bold' : 'normal'}">{{currentYear - y}}</span>
                </span>
                <span class="separator">|</span>
            </ng-container>
            <span (click)="selectYear(-1)" [ngStyle]="{'font-weight': (selectedYear == -1) ? 'bold' : 'normal'}">Antes del {{currentYear - 2}}</span>
            <div id="selectedYear">
                <ng-containter *ngIf="selectedYear != -1">{{selectedYear}}</ng-containter>
                <ng-containter *ngIf="selectedYear == -1">Antes del {{currentYear - 2}}</ng-containter>
            </div>
        </div>
        <div id="publicaciones" >
            <div class="row" *ngFor="let publicacion of publicaciones">
                <div class="col-lg-6">
                    <p>{{publicacion.fechaPublicacion}}</p>
                    <p>{{publicacion.fichaBibliografica}}</p>
                    <p>{{publicacion.organismo}}</p>
                </div>
                <div class="col-md-6">
                    <img [src]="publicacion.img" width="450" height="250" />
                </div>
                <hr/>
            </div>
        </div>
    </ng-container>
</div>