h1 {
    color:#7d211a;
    font-size: 1.5em;
    font-weight: 500;
}

.cntwrap {
    width: 90%;
}

.container {
    max-width: 90%;
}

.content-static img {
    margin-left:1em!important;
    margin-right:1em;
}

.content-static img:after {
    margin-left:1em!important;
    margin-right:1em;
}

img {
    margin-left:50px;
}

ngb-pagination ::ng-deep a {
    color: black !important;
  }
  
  ngb-pagination ::ng-deep .page-item.active .page-link {
    color:white!important;  
    border-color: #7d211a;
    background-color: #f49600;
  }
  
  ngb-pagination ::ng-deep .page-item .page-link:hover {
    background-color: #7d211a;
    color:white!important;
  }


  ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem #7d211a;
  }
  
  ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem #7d211a;
  }

  #encabezado{
      display: inline-block!important;
  }

  .separator {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.5em;
    font-weight: 100;
    color:black;
  }

  img {
    position: relative;
    top:-50px;
    margin-top: 15px;
  }

  #publicaciones {
    margin-top:2em;
  }

  #selectedYear {
    font-weight: bold;
    font-size: 32px;
  }

  hr {
    position:relative;
    top:-50px;
    width: 100%;
    border: none;
    height: 1px;
    color: #333; 
    background-color: #333; /* Modern Browsers */
}