<div class="container" *ngIf="!showError && sectionName=='inicio'" >
    <h1>Editar imagenes del carrusel de inicio</h1>
    <button class="btn btn-primary btn-xs" (click)="addImg()"><i class="fa fa-plus" aria-hidden="true"></i>  Añadir Imagen</button>
    <div class="form-group row" style="margin-top: 30px;">
        <ng-container *ngFor="let itm of imgIdxArr;let idx = index">
            <label for="img-{{idx}}" style="padding-top: 5px;" class="col-sm-2 col-form-label">Imagen {{idx + 1}}:</label>
            <div class="col-sm-4" style="padding-top: 5px;">
                <ng-container *ngIf="itm.name">
                    <input type="text" id="img-{{idx}}" readonly disabled value="{{itm.name}}" />
                </ng-container>
                <ng-container *ngIf="!itm.name">
                    <input type="file" id="img-{{idx}}" (change)="handleFileChange($event,idx)" />
                </ng-container>    
            </div>
            <div class="col-sm-4">
                <ng-container *ngIf="itm.desc">
                    <input type="text" id="desc-{{idx}}" readonly disabled  value="{{itm.desc}}" />
                </ng-container>
                <ng-container *ngIf="!itm.desc">
                    <input type="text" id="desc-{{idx}}" placeholder="Descripción" (change)="handleDescChange($event,idx)" value="" />
                </ng-container>
            </div>
            <div class="col-sm-2" style="padding-top: 5px;">
                <button class="btn btn-danger" (click)="removeImg(idx)"><i class="fa fa-minus" aria-hidden="true"></i> Remover</button>
            </div>
        </ng-container>
    </div>
</div>

<div class="container" *ngIf="!showError">
    <h1>Editar contenido estático de la sección <span style="color:#7d211a;">{{sectionName}}</span></h1>

    <p style="font-size: 14px;">Por favor asegúrese de no utilizar imagenes muy pesadas. De lo contrario el rendimiento de su página se verá afectado</p>

    <editor apiKey="mux0xdlfybdd47xuv5ykdhrfpa7sq9jyw8wtef7vw241wudu" [init]="tinyMceSettings" [(ngModel)]="blobInfo"></editor>
    
    <input id="my-file" type="file" name="my-file" style="display: none;" onchange="" />
    
    <button class="btn btn-primary btn-xs" (click)="save()"><i style="margin-right: 20px;" class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
</div>
<div class="container" *ngIf="showError">
    <h1 style="color:#7d211a;margin-top: 25px;"> La sección {{sectionName}} no existe </h1>
</div>
