<div *ngIf="isLoggedIn">
   <div class="banner">
    <div class="bannerLeft">
        <h2>Sistema de Información de la Coordinación de <br/> Investigación y Desarrollo Tecnológico</h2>
    </div>
    <div class="bannerRight">
      <p style="display: inline; float: left;padding-top: 20px; padding-right: 20px;">Universidad Autónoma <br/><span style="margin-left: 75px;"> de Guadalajara</span></p>
      <img style="display: inline; float: left;" src="assets/img/logoUAG.png" width="67px" height="85px" />
    </div>
   </div> <!--end banner-->

   <div class="menuWrapper">
    <nav style="padding-left:1%;width: 100%;" class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item uagmenu" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link" [routerLink]="['inicio']">Inicio </a>
              <a routerLink="" style="display: none"></a>
            </li>
            <li class="nav-item uagmenu" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="['tesis']" >Tesis</a>
            </li>
            <li class="nav-item uagmenu" [routerLinkActive]="['active']" *ngIf="isResearcher || isAdmin">
              <a class="nav-link" [routerLink]="['investigador']">Proyectos de Investigación</a>
            </li>
            <li class="nav-item uagmenu" [routerLinkActive]="['active']" *ngIf="isAdmin" >
                <a class="nav-link" [routerLink]="['admin']">Administración</a>
              </li>
            <li style="position:absolute; right: 25px;" id="userMenu-x" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="font-size: 1em;" href="#" (click)="doNothing($event)" id="navbarDropdownMenuLink">
                {{userName}} <i style="margin-left:5px;" class="fa fa-user" aria-hidden="true"></i>
              </a>
              <div id="menuDropDownContent" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#" (click)="logout($event)" ><i class="fa fa-sign-out" aria-hidden="true"></i> Salir</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
   </div> <!--end menu-->
</div>