   <div class="banner">
    <div class="bannerLeft">
        <h2>{{fullResearcherName}}</h2>
        <div class="bannerItmsText" *ngIf="customBanner && customBanner.items && customBanner.items.length > 0">
          <ng-container *ngFor="let item of customBanner.items; let idx = index">
            <div class="banner-itm" ><span class="divider-sm" *ngIf="idx > 0">|</span>{{item.texto}}</div>
          </ng-container>
        </div>
    </div>
    <div class="bannerRight">
       <ng-container *ngIf="customBanner && customBanner.logo && customBanner.logo.img">
        <img style="float: left;" [src]="customBanner.logo.img" width="200px" height="190px" />
       </ng-container>
       <div class="uag-logo-bnr">
        <img src="assets/img/logoUAG.png" width="90px" height="114px" />
        <!--p>Universidad Autónoma <br/> de Guadalajara</p-->
        </div>
    </div>
   </div> <!--end banner-->

   <div class="menuWrapper" *ngIf="!editMode">
    <nav style="padding-left:1%; width: 100%;" class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item uagmenu" [ngClass]="{'active': activeSection == 'inicio'}">
              <a class="nav-link" (click)="gotoSection('inicio')">Inicio </a>
            </li><span class="divider">|</span>
            <li class="nav-item uagmenu" [ngClass]="{'active': activeSection == 'personas'}">
              <a class="nav-link" (click)="gotoSection('personas')" >Grupo de Investigación</a>
            </li><span class="divider">|</span>
            <li class="nav-item uagmenu" [ngClass]="{'active': activeSection == 'proyectos'}">
              <a class="nav-link" (click)="gotoSection('proyectos')">Proyectos</a>
            </li><span class="divider">|</span>
            <li class="nav-item uagmenu" [ngClass]="{'active': activeSection == 'publicaciones'}" >
                <a class="nav-link" (click)="gotoSection('publicaciones')">Publicaciones</a>
            </li><span class="divider">|</span>
            <li class="nav-item uagmenu" [ngClass]="{'active': activeSection == 'laboratorio'}" >
              <a class="nav-link" (click)="gotoSection('laboratorio')">Laboratorio</a>
          </li><span class="divider">|</span>
          <li class="nav-item uagmenu" [ngClass]="{'active': activeSection == 'noticias'}" >
            <a class="nav-link" (click)="gotoSection('noticias')">Noticias</a>
        </li><span class="divider">|</span>
          <li class="nav-item uagmenu" style="border-right: none!important;" [ngClass]="{'active': activeSection == 'contacto'}" >
            <a class="nav-link" (click)="gotoSection('contacto')">Contacto</a>
          </li>
          </ul>
        </div>
      </nav>
   </div> <!--end menu outside-->

   <div class="menuWrapper" *ngIf="editMode">
    <nav style="padding-left:1%;width:100%" class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav editMode">
            <li class="nav-item uagmenu" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="['editor/' + researcherId + '/inicio']">Inicio </a>
            </li><span class="divider">|</span>
            <li class="nav-item uagmenu" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="['editor/' + researcherId + '/encabezado']">Encabezado </a>
            </li><span class="divider">|</span>
            <li class="nav-item uagmenu" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="['editor/' + researcherId + '/proyectos']">Proyectos </a>
            </li><span class="divider">|</span>
            <li class="nav-item uagmenu" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="['editor/' + researcherId + '/laboratorio']" >Laboratorio</a>
            </li><span class="divider">|</span>
            <li class="nav-item uagmenu" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="['editor/' + researcherId + '/noticias']">Noticias </a>
            </li><span class="divider">|</span>
            <li class="nav-item uagmenu" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="['editor/' + researcherId + '/contacto']">Contacto</a>
            </li>
            <li style="position:absolute; right: 25px;" id="userMenu-x" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="font-size: 1em;" href="#" (click)="doNothing($event)" id="navbarDropdownMenuLink">
                {{userName}} <i style="margin-left:5px;" class="fa fa-user" aria-hidden="true"></i>
              </a>
              <div id="menuDropDownContent" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#" (click)="logout($event)" ><i class="fa fa-sign-out" aria-hidden="true"></i> Salir</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
   </div> <!--end menu outside-->
<!--/div-->