.banner {
    position: relative;
    top:0px;
    background-color: #5a1510;
    color:white;
    width: 100%;
    height: 120px;
}

.bannerLeft {
    float: left;
    padding: 10px;
    font-size: 36px;
    font-weight: bolder;
    transform: scaleX(0.98084);
}

.bannerRight {
    float: right;
    font-size: 22px;
    margin-top: 1em;
    margin-right: 5em;
}

.active a{
    color:#f59700!important;
}

.uagmenu {
    margin-left: 4em;
    font-size: 25px;
}

#menuDropDownContent {
    display: none!important;
}

#userMenu-x:hover #menuDropDownContent {display: block!important;}

.menuWrapper {
    margin-top: 10px;
    box-shadow: 0px -15px 40px -16px rgba(224, 232, 255, 0.75), 0px 15px 40px -16px rgba(224, 232, 255, 0.75);
    -webkit-box-shadow: 0px -15px 40px -16px rgba(224, 232, 255, 0.75), 0px 15px 40px -16px rgba(224, 232, 255, 0.75);
    -moz-box-shadow: 0px -15px 40px -16px rgba(224, 232, 255, 0.75), 0px 15px 40px -16px rgba(224, 232, 255, 0.75);
    background-color: white;
}

.nav-link{
    color:black!important;
}