<style>
  .carousel-caption {
    position: unset;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #1a2b4f;
    color:white;
  }

  .uag-carousel {
    padding:2px;
    background-color:#1a2b4f;
  }

</style>

<div style="background-color: #f8f9fa;">
    <ngb-carousel *ngIf="images" class="uag-carousel">
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="picsum-img-wrapper">
            <img [src]="image.img" width="{{screenWidth/2.2}}" />
          </div>
          <div class="carousel-caption">
            <p>{{image.desc}}</p>
          </div>
        </ng-template>
      </ngb-carousel>
</div>
