<div class="mainContent">
<h1>Bienvenido </h1>
<h1>{{userFullName}}</h1>
<div class="contentWrapper">
    <p>Bienvenido al sistema de Información de la Dirección de Investigación de la Universidad Autónoma de Guadalajara.</p>
    <p>Mediante esta herramienta, usted podrá dar seguimiento a sus Proyectos de Investigación, Tesis, Publicaciones y/o Currículum Vitae. </p>
    <p>Esperamos que los datos que proporcionamos en el mismo le sean de utilidad, cualquier duda, comentario o aclaración al correo electrónico: investigacion@edu.uag.mx o a la extensión 35811.</p>
</div>
</div>

