<div class="container people">
    <h1>GRUPO DE INVESTIGACIÓN</h1>
    <div class="gpo">
        <a href="#" [ngClass]="{active: section == 'actual'}" (click)="loadGpo($event,'actual')">Actual</a>
        <span>|</span>
        <a href="#" [ngClass]="{active: section == 'anterior'}" (click)="loadGpo($event,'anterior')">Anteriores</a>
    </div>
    <div class="studentContainer" *ngFor="let student of students">
        <div class="row">
            <div class="col-sm-3">
                <ng-container *ngIf="student.img">
                    <img [src]="student.img" width="180" height="180"/>
                </ng-container>
            </div>
            <div class="col-lg-9">
                <div class="row fullName">
                    {{student.nombres | uppercase}} {{student.apellidoPaterno | uppercase}} {{student.apellidoMaterno | uppercase}}
                </div>
                <div class="row email">
                    {{student.email}}
                </div>
                <div class="row smf" *ngIf="student.decanato">
                    {{student.decanato}}
                </div>
                <div class="row smf" *ngIf="student.facultad">
                    {{student.facultad}}
                </div>
                <div class="row smf" *ngIf="student.departamento">
                    {{student.departamento}}
                </div>
                <div class="row" style="margin-top: 15px;" *ngIf="student.comentarios">
                    {{student.comentarios}}
                </div>
            </div>
          </div>
          <hr/>
    </div>
</div>
