<div class="container" >
    <h1>Editar encabezado</h1>
    <button [disabled]="showAddLogoSection" class="btn btn-primary btn-xs" (click)="addLogo()"><i class="fa fa-plus" aria-hidden="true"></i>  Añadir Logo</button>
    <div *ngIf="showAddLogoSection" class="form-group row" style="margin-top: 30px;">
        <ng-container>
            <label for="logo" style="padding-top: 5px;" class="col-sm-2 col-form-label">Logo:</label>
            <div class="col-sm-6" style="padding-top: 5px;">
                <ng-container *ngIf="logo">
                    <input type="text" id="logo" readonly disabled value="{{logo.nombre}}" />
                </ng-container>
                <ng-container *ngIf="!logo">
                    <input type="file" id="logo" (change)="handleFileChange($event)" />
                </ng-container>    
            </div>
            <div class="col-sm-4" style="padding-top: 5px;">
                <button class="btn btn-danger" (click)="removeLogo()"><i class="fa fa-minus" aria-hidden="true"></i> Remover</button>
            </div>
        </ng-container>
    </div>
    <br/>
    <button [disabled]="charCount >= charLimit || arrStr.length >= 5" class="btn btn-primary btn-xs" (click)="addText()"><i class="fa fa-plus" aria-hidden="true"></i>  Añadir Texto</button>
    <p style="font-size: 10px;margin-top: 10px;" [ngStyle]="{'color': charCount >= charLimit ? 'red': 'black'}">Cuenta de caracteres: {{charCount}}. Límite: {{charLimit}}</p>
    <div class="form-group row" style="margin-top: 30px;">
        <ng-container *ngFor="let itm of arrStr;let idx = index">
            <label for="img-{{idx}}" style="padding-top: 5px;" class="col-sm-2 col-form-label">Texto {{idx + 1}}:</label>
            <div class="col-sm-6" style="padding-top: 5px;">
                <ng-container>
                    <input type="text" [value]="itm.texto" [disabled]="itm.readonly" class="large-input" id="txt-{{idx}}" (keyup)="handleTextChange($event,idx)" />
                </ng-container>    
            </div>
            <div class="col-sm-4" style="padding-top: 5px;">
                <button class="btn btn-danger" (click)="removeText(idx)"><i class="fa fa-minus" aria-hidden="true"></i> Remover</button>
            </div>
        </ng-container>
    </div>
    <button class="btn btn-primary btn-xs" (click)="saveBanner()"><i style="margin-right: 20px;" class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
</div>