h1 {
    color:#7d211a;
    font-size: 1.5em;
    font-weight: 500;
}

.cntwrap {
    width: 90%;
}

.container {
    max-width: 90%;
}

.content-static img {
    margin-left:1em!important;
    margin-right:1em;
}

.content-static img:after {
    margin-left:1em!important;
    margin-right:1em;
}

img {
    margin-left:50px;
}