<div class="container contact" >
    <ng-container *ngIf="!showError">
        <h1>CONTACTO</h1>
        <div class="row">
            <div class="col-lg-4">
                <ng-container >
                    <div class="contact-content" [innerHTML]="content"></div>
                </ng-container>
            </div>
            <div class="col-lg-4">
                <p>{{ubicacion}}
                <br/>
                <br/>
                {{fullName}}<br/>
                <strong>{{departamento}}</strong><br/>
                {{decanato}}<br/>
                Correo: <span style="color:blue;">{{email}}</span></p>
            </div>
            <div class="col-lg-4">
                <form [formGroup]="contactFB">
                    <input type="text" placeholder="Nombre" formControlName="contactNombre" />
                    <mat-hint *ngIf="$fb['contactNombre'].errors"><span *ngIf="$fb['contactNombre'].errors.required">*</span></mat-hint><br/>
                    <input type="text" placeholder="Correo electrónico" formControlName="contactCorreo" />
                    <mat-hint *ngIf="$fb['contactCorreo'].errors"><span *ngIf="$fb['contactCorreo'].errors.required">*</span><span *ngIf="$fb['contactCorreo'].errors.email">Inválido</span></mat-hint><br/>
                    <input type="text" placeholder="Asunto" formControlName="contactAsunto" />
                    <mat-hint *ngIf="$fb['contactAsunto'].errors"><span *ngIf="$fb['contactAsunto'].errors.required">*</span></mat-hint><br/>
                    <textarea rows="7" placeholder="Mensaje" formControlName="contactMensaje"></textarea>
                    <mat-hint *ngIf="$fb['contactMensaje'].errors"><span *ngIf="$fb['contactMensaje'].errors.required">*</span></mat-hint><br/>
                    <button [disabled]="$fb.errors" class="btn btn-primary btn-xs"  (click)="sendEmail()">Enviar</button>
                </form>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="showError">
        <h1> Página no encontrada </h1>
    </ng-container>
</div>