<div class="container-fluid">
  <div class="titleDiv">
    <h3>Administración de Usuarios del Sistema</h3>
    <div>
      <button class="btn btn-xs btn-primary" (click)="addUser()" ><i style="padding-right: 25px;" class="fa fa-plus-circle" aria-hidden="true"></i>  Agregar nuevo usuario</button>
    </div>
  </div>
  <hr/>
  <angular-slickgrid gridId="grid1"
                     [columnDefinitions]="columnDefinitions1"
                     [gridOptions]="gridOptions1"
                     [dataset]="dataset1" (onAngularGridCreated)="angularGrid2Ready($event)">
  </angular-slickgrid>
</div>