<div id="userDetailCard">
    <div class="container">
        <form [formGroup]="proyectoForm" (ngSubmit)="registrarProyecto()">
            <div class="participantes">
                <hr style="width:100%">
                <h5 class="subtitle">Participantes:</h5>
                <div class="form-group row">                    
                <br>
                    <label for="colaboradores" class="col-sm-3 col-form-label">
                        <h5>Colaboradores:</h5>
                    </label>
                    <div class="col-sm-8">
                        <img class="button" src="assets/img/button-agregar-colaborador.png" width="250px"
                            (click)="open(colaboradormodal)" />
                    </div>
                    <div class="col-md-8 mt-4">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th style="width:10%">Nómina:</th>
                                    <th style="width:40%">Nombre:</th>
                                    <th style="width:30%">Participación:</th>
                                    <th style="width:10%">Horas:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listColaboradores; let i = index">
                                
                                    <td style="width:10%"><span>{{item.nomina}}</span></td>
                                    <td style="width:40%"><span>{{item.nombre}}</span></td>
                                    <td style="width:30%"><input type="text" class="form-control form-control-sm"
                                            style="width:100%"><span></span></td>
                                    <td style="width:10%"><span><input type="text" class="form-control form-control-sm"
                                                style="width:100%"></span></td>
                                    <td><button type="button" class="btn btn-primary" (click)="deleteRow(i, 'colaboradores')">Eliminar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="alumnos" class="col-sm-3 col-form-label">
                        <h5>Alumnos:</h5>
                    </label>
                    <div class="col-sm-8">
                        <img class="button" src="assets/img/button-agregar-alumno.png" width="200px"
                            (click)="open(alumnomodal)" />
                    </div>
                    <div class="col-md-8 mt-4">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th style="width:10%">Nómina:</th>
                                    <th style="width:40%">Nombre:</th>
                                    <th style="width:30%">Participación:</th>
                                    <th style="width:10%">Horas:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listAlumnos; let i = index">
                                    <td style="width:10%"><span>{{item.nomina}}</span></td>
                                    <td style="width:40%"><span>{{item.nombre}}</span></td>
                                    <td style="width:30%"><input type="text" class="form-control form-control-sm"
                                            style="width:100%"><span></span></td>
                                    <td style="width:10%"><span><input type="text" class="form-control form-control-sm"
                                                style="width:100%"></span></td>
                                    <td><button type="button" class="btn btn-primary" (click)="deleteRow(i, 'alumnos')">Eliminar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="externos-uag" class="col-sm-3 col-form-label">
                        <h5>Externos UAG:</h5>
                    </label>
                    <div class="col-sm-8">
                        <button class="btn btn-xs btn-primary" (click)="open(externomodal)"><i
                                style="padding-right: 25px;" class="fa fa-plus-circle" aria-hidden="true"></i>Agregar
                            externos UAG</button>
                    </div>
                    <div class="col-md-8 mt-4">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th style="width:10%">Nómina:</th>
                                    <th style="width:40%">Nombre:</th>
                                    <th style="width:30%">Participación:</th>
                                    <th style="width:10%">Horas:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listInvestigadores; let i = index">
                                    <td style="width:10%"><span>{{item.nomina}}</span></td>
                                    <td style="width:40%"><span>{{item.nombre}}</span></td>
                                    <td style="width:30%"><input type="text" class="form-control form-control-sm"
                                            style="width:100%"><span></span></td>
                                    <td style="width:10%"><span><input type="text" class="form-control form-control-sm"
                                                style="width:100%"></span></td>
                                    <td><button type="button" class="btn btn-primary" (click)="deleteRow(i, 'investigadores')">Eliminar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="guardar_registrar">
                <hr style="width:100%">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col col-lg-2">
                            <img class="button" src="assets/img/button-guardar.png" width="200px" (click)="addUser()" />
                        </div>
                        <div class="col-md-auto">
                        </div>
                        <div class="col col-lg-2">                            
                            <button type="submit" style="border: none; background: none;">
                                <img src="assets/img/button-registrar.png" alt="Registrar" width="200px">
                              </button>                   
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="card">
            </div>
        </form>
    </div>
    <ng-template #colaboradormodal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"> </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.close()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit('colaborador')">
                <input list="colaborador_user_id" name="myBrowser" placeholder="Selecciona un usuario" class="form-control"
                    formControlName="colaboradores" />
                    <datalist id="colaborador_user_id">
                        <option *ngFor="let opt of colaboradores"
                            [value]="opt.id + ' - ' + opt.nombres + ' ' + opt.apellidoPaterno + ' ' + opt.apellidoMaterno">
                        </option>
                    </datalist>
                <button type="submit" class="btn btn-primary">Insertar usuario</button>
            </form>
        </div>
    </ng-template>
    <ng-template #alumnomodal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"> </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.close()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit('alumno')">
                <input list="alumno_user_id" placeholder="Selecciona un usuario" class="form-control"
                    formControlName="alumnos" />
                <datalist id="alumno_user_id">
                    <option *ngFor="let opt of alumnos"
                        [value]="opt.id + ' - ' + opt.nombres + ' ' + opt.apellidoPaterno + ' ' + opt.apellidoMaterno">
                    </option>
                </datalist>
                <button type="submit" class="btn btn-primary">Insertar usuario</button>
            </form>
        </div>
    </ng-template>
    <ng-template #externomodal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"> </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.close()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit('externo')">
                <input list="externo_user_id" name="myBrowser" placeholder="Selecciona un usuario" class="form-control"
                    formControlName="investigadores" />
                <datalist id="externo_user_id">
                    <option *ngFor="let opt of investigadores"
                        [value]="opt.id + ' - ' + opt.nombres + ' ' + opt.apellidoPaterno + ' ' + opt.apellidoMaterno">
                    </option>
                </datalist>
                <button type="submit" class="btn btn-primary">Insertar usuario</button>
            </form>
        </div>
    </ng-template>
</div>