<div class="container intro" >
    <ng-container *ngIf="!showError">
        <div class="row">
            <div class="col">
                <app-carrusel [researcher]="researcher" ></app-carrusel>
            </div>
            <div class="col">
                <h1>¡Bienvenido!</h1>
                <hr/>
                <ng-container >
                    <div class="intro-content" [innerHTML]="content"></div>
                </ng-container>
                <hr/>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="showError">
        <h1> Página no encontrada </h1>
    </ng-container>
</div>